
.designFilm {

    background-color: rgb(245, 245, 94);
    
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designRooster {
    display: flex;
    flex-wrap: wrap;


}

.designRooster>*{
    flex-basis: 25%;
}